

.info{
    height: 100vh;
    background-color: #1d3557;

    button{
        box-shadow:  rgba(248, 247, 247, 0.955) 0px 50px 100px -20px, rgba(248, 247, 247, 0.955) 0px 30px 60px -30px, rgba(248, 247, 247, 0.955) 0px -2px 6px 0px inset;;
    }
}