<header>
    <mat-toolbar color="primary">
        <nav class="navbar navbar-brand-lg w-100">
            <a class="navbar-brand" routerLink="/home">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a class="nav-link"
                            [routerLinkActiveOptions]="{exact : true}"
                            routerLinkActive="active"
                            routerLink="/home">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <ng-container>
                            <li class="nav-item" *ngIf="foradmin">
                                <a class="nav-link" routerLinkActive="active" routerLink="/users">Users</a>
                            </li>
                        </ng-container>
                        <ng-container>
                            <li class="nav-item" *ngIf="foruser">
                                <a class="nav-link" routerLinkActive="active" routerLink="/products">Products</a>
                            </li>
                        </ng-container>
                    </ul>
                    <button mat-raised-button color="warn"
                    (click)="onlogout()"
                    >Log Out</button>
                </div>
            
        </nav>
    </mat-toolbar>

    
</header>